//
// Written by Synplify Pro 
// Product Version "T-2022.09M-SP2-1"
// Program "Synplify Pro", Mapper "map202209actsp2, Build 145R"
// Tue Nov  7 10:11:53 2023
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\c:\microchip\libero_soc_v2023.2\synplifypro\lib\vhd2008\std.vhd "
// file 1 "\c:\microchip\libero_soc_v2023.2\synplifypro\lib\vhd\snps_haps_pkg.vhd "
// file 2 "\c:\microchip\libero_soc_v2023.2\synplifypro\lib\vhd2008\std1164.vhd "
// file 3 "\c:\microchip\libero_soc_v2023.2\synplifypro\lib\vhd2008\std_textio.vhd "
// file 4 "\c:\microchip\libero_soc_v2023.2\synplifypro\lib\vhd2008\numeric.vhd "
// file 5 "\c:\microchip\libero_soc_v2023.2\synplifypro\lib\vhd\umr_capim.vhd "
// file 6 "\c:\microchip\libero_soc_v2023.2\synplifypro\lib\vhd2008\arith.vhd "
// file 7 "\c:\microchip\libero_soc_v2023.2\synplifypro\lib\vhd2008\unsigned.vhd "
// file 8 "\c:\microchip\libero_soc_v2023.2\synplifypro\lib\vhd\hyperents.vhd "
// file 9 "\c:\00digitalesysteme\01-projekt\beispiel\beispiel5.vhd "
// file 10 "\c:\microchip\libero_soc_v2023.2\synplifypro\lib\nlconst.dat "
// file 11 "\c:\00digitalesysteme\01-projekt\projekt1\designer\blink\synthesis.fdc "

`timescale 100 ps/100 ps
module blink (
  rst,
  clk,
  led
)
;
input rst ;
input clk ;
output led ;
wire rst ;
wire clk ;
wire led ;
wire [25:0] reg_Z;
wire [19:0] reg_10_Z;
wire [2:2] reg_10;
wire VCC ;
wire GND ;
wire dff_0_Z ;
wire rst_c ;
wire clk_c ;
wire led_c ;
wire \p1.un2_reg_13_Z  ;
wire \p1.un2_reg_14_Z  ;
wire \p1.un2_reg_15_Z  ;
wire \p1.un2_reg_16_Z  ;
wire \p1.un2_reg_17_Z  ;
wire \p1.un2_reg_18_Z  ;
wire \p1.un2_reg_22_Z  ;
wire \p1.un2_reg_23_Z  ;
wire clk_ibuf_Z ;
wire rst_ibuf_Z ;
  CLKINT rst_ibuf_RNIUUM5 (
	.Y(rst_c),
	.A(rst_ibuf_Z)
);
  CLKINT clk_ibuf_RNIVTI2 (
	.Y(clk_c),
	.A(clk_ibuf_Z)
);
// @9:24
  SLE \reg[5]  (
	.Q(reg_Z[5]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_Z[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[4]  (
	.Q(reg_Z[4]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_10_Z[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[3]  (
	.Q(reg_Z[3]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_Z[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[2]  (
	.Q(reg_Z[2]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_10[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[1]  (
	.Q(reg_Z[1]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_10_Z[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[0]  (
	.Q(reg_Z[0]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_10_Z[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE dff (
	.Q(led_c),
	.ADn(VCC),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(dff_0_Z),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[20]  (
	.Q(reg_Z[20]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_Z[19]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[19]  (
	.Q(reg_Z[19]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_10_Z[19]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[18]  (
	.Q(reg_Z[18]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_Z[17]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[17]  (
	.Q(reg_Z[17]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_10_Z[17]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[16]  (
	.Q(reg_Z[16]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_Z[15]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[15]  (
	.Q(reg_Z[15]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_10_Z[15]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[14]  (
	.Q(reg_Z[14]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_Z[13]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[13]  (
	.Q(reg_Z[13]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_Z[12]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[12]  (
	.Q(reg_Z[12]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_10_Z[12]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[11]  (
	.Q(reg_Z[11]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_10_Z[11]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[10]  (
	.Q(reg_Z[10]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_Z[9]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[9]  (
	.Q(reg_Z[9]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_Z[8]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[8]  (
	.Q(reg_Z[8]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_Z[7]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[7]  (
	.Q(reg_Z[7]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_Z[6]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[6]  (
	.Q(reg_Z[6]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_10_Z[6]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[25]  (
	.Q(reg_Z[25]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_Z[24]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[24]  (
	.Q(reg_Z[24]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_Z[23]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[23]  (
	.Q(reg_Z[23]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_Z[22]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[22]  (
	.Q(reg_Z[22]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_Z[21]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:24
  SLE \reg[21]  (
	.Q(reg_Z[21]),
	.ADn(GND),
	.ALn(rst_c),
	.CLK(clk_c),
	.D(reg_Z[20]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:5
  INBUF rst_ibuf (
	.Y(rst_ibuf_Z),
	.PAD(rst)
);
// @9:6
  INBUF clk_ibuf (
	.Y(clk_ibuf_Z),
	.PAD(clk)
);
// @9:7
  OUTBUF led_obuf (
	.PAD(led),
	.D(led_c)
);
// @9:38
  CFG2 \p1.reg_9[2]  (
	.A(reg_Z[25]),
	.B(reg_Z[1]),
	.Y(reg_10[2])
);
defparam \p1.reg_9[2] .INIT=4'h6;
// @9:28
  CFG4 \p1.un2_reg_18  (
	.A(reg_Z[14]),
	.B(reg_Z[11]),
	.C(reg_Z[10]),
	.D(reg_Z[5]),
	.Y(\p1.un2_reg_18_Z )
);
defparam \p1.un2_reg_18 .INIT=16'h0001;
// @9:28
  CFG4 \p1.un2_reg_17  (
	.A(reg_Z[24]),
	.B(reg_Z[18]),
	.C(reg_Z[3]),
	.D(reg_Z[0]),
	.Y(\p1.un2_reg_17_Z )
);
defparam \p1.un2_reg_17 .INIT=16'h0002;
// @9:28
  CFG4 \p1.un2_reg_16  (
	.A(reg_Z[23]),
	.B(reg_Z[22]),
	.C(reg_Z[21]),
	.D(reg_Z[20]),
	.Y(\p1.un2_reg_16_Z )
);
defparam \p1.un2_reg_16 .INIT=16'h8000;
// @9:28
  CFG4 \p1.un2_reg_15  (
	.A(reg_Z[19]),
	.B(reg_Z[17]),
	.C(reg_Z[15]),
	.D(reg_Z[13]),
	.Y(\p1.un2_reg_15_Z )
);
defparam \p1.un2_reg_15 .INIT=16'h8000;
// @9:28
  CFG4 \p1.un2_reg_14  (
	.A(reg_Z[12]),
	.B(reg_Z[9]),
	.C(reg_Z[8]),
	.D(reg_Z[7]),
	.Y(\p1.un2_reg_14_Z )
);
defparam \p1.un2_reg_14 .INIT=16'h8000;
// @9:28
  CFG4 \p1.un2_reg_13  (
	.A(reg_Z[6]),
	.B(reg_Z[4]),
	.C(reg_Z[2]),
	.D(reg_Z[1]),
	.Y(\p1.un2_reg_13_Z )
);
defparam \p1.un2_reg_13 .INIT=16'h8000;
// @9:28
  CFG4 \p1.un2_reg_23  (
	.A(\p1.un2_reg_14_Z ),
	.B(\p1.un2_reg_17_Z ),
	.C(\p1.un2_reg_16_Z ),
	.D(\p1.un2_reg_15_Z ),
	.Y(\p1.un2_reg_23_Z )
);
defparam \p1.un2_reg_23 .INIT=16'h8000;
// @9:28
  CFG4 \p1.un2_reg_22  (
	.A(reg_Z[16]),
	.B(reg_Z[25]),
	.C(\p1.un2_reg_13_Z ),
	.D(\p1.un2_reg_18_Z ),
	.Y(\p1.un2_reg_22_Z )
);
defparam \p1.un2_reg_22 .INIT=16'h1000;
// @9:28
  CFG3 \reg_10[12]  (
	.A(reg_Z[11]),
	.B(\p1.un2_reg_23_Z ),
	.C(\p1.un2_reg_22_Z ),
	.Y(reg_10_Z[12])
);
defparam \reg_10[12] .INIT=8'hEA;
// @9:28
  CFG3 \reg_10[11]  (
	.A(reg_Z[10]),
	.B(\p1.un2_reg_23_Z ),
	.C(\p1.un2_reg_22_Z ),
	.Y(reg_10_Z[11])
);
defparam \reg_10[11] .INIT=8'hEA;
// @9:28
  CFG4 \reg_10[1]  (
	.A(reg_Z[25]),
	.B(reg_Z[0]),
	.C(\p1.un2_reg_22_Z ),
	.D(\p1.un2_reg_23_Z ),
	.Y(reg_10_Z[1])
);
defparam \reg_10[1] .INIT=16'hF666;
// @9:28
  CFG3 \reg_10[0]  (
	.A(reg_Z[25]),
	.B(\p1.un2_reg_23_Z ),
	.C(\p1.un2_reg_22_Z ),
	.Y(reg_10_Z[0])
);
defparam \reg_10[0] .INIT=8'hEA;
// @9:28
  CFG3 \reg_10[19]  (
	.A(reg_Z[18]),
	.B(\p1.un2_reg_23_Z ),
	.C(\p1.un2_reg_22_Z ),
	.Y(reg_10_Z[19])
);
defparam \reg_10[19] .INIT=8'hEA;
// @9:28
  CFG3 \reg_10[17]  (
	.A(reg_Z[16]),
	.B(\p1.un2_reg_23_Z ),
	.C(\p1.un2_reg_22_Z ),
	.Y(reg_10_Z[17])
);
defparam \reg_10[17] .INIT=8'hEA;
// @9:28
  CFG3 \reg_10[15]  (
	.A(reg_Z[14]),
	.B(\p1.un2_reg_23_Z ),
	.C(\p1.un2_reg_22_Z ),
	.Y(reg_10_Z[15])
);
defparam \reg_10[15] .INIT=8'hEA;
// @9:28
  CFG4 \reg_10[6]  (
	.A(reg_Z[25]),
	.B(reg_Z[5]),
	.C(\p1.un2_reg_22_Z ),
	.D(\p1.un2_reg_23_Z ),
	.Y(reg_10_Z[6])
);
defparam \reg_10[6] .INIT=16'hF666;
// @9:28
  CFG3 \reg_10[4]  (
	.A(reg_Z[3]),
	.B(\p1.un2_reg_23_Z ),
	.C(\p1.un2_reg_22_Z ),
	.Y(reg_10_Z[4])
);
defparam \reg_10[4] .INIT=8'hEA;
// @9:24
  CFG3 dff_0 (
	.A(\p1.un2_reg_22_Z ),
	.B(led_c),
	.C(\p1.un2_reg_23_Z ),
	.Y(dff_0_Z)
);
defparam dff_0.INIT=8'h6C;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* blink */

